.background {
  background-color: darkslategrey;
  margin: 0px;
  padding: 40px;
}

.App {
  text-align: center;
  background-color: white;
  border: 1px, black;
  border-bottom-left-radius: 35px;
  border-top-right-radius: 35px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navigation {
  position: relative;
  display: flex;
  text-align: right;
  border-top-right-radius: 35px;
}

.navigation-sub {
  width: 100%;
  text-justify: right;
  height: 100%;
  padding: 20px;
}

.navigation-sub a:visited{
  color: black;
}

.navigation-sub a:focus{
  color: gray;
}

.navigation-sub a:hover {
  color: darkgray;
}

.navigation-sub a{
  text-decoration: none;
  color: black;
}

.navigation img {
  width: 64;
  height: auto;
}

.item {
  padding: 15px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

