@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Bree+Serif&display=swap');

.background {
  background-color: darkslategrey;
  background: url(assets/bg.svg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0px;
  padding: 40px;
  height: 1000px;
}

.App {
  text-align: left;
  background-color: white;
  border: 1px, black;
  border-bottom-left-radius: 35px;
  border-top-right-radius: 35px;
  font-family: 'Balsamiq Sans', cursive;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navigation {
  position: relative;
  display: flex;
  text-align: right;
  border-top-right-radius: 35px;
}

.navigation-sub {
  width: 100%;
  text-justify: right;
  height: 100%;
  padding: 20px;
}

.App a:visited{
  color: black;
}

.App a:focus{
  color: gray;
}

.App a:hover {
  color: darkgray;
}

.App a{
  text-decoration: none;
  color: black;
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: flex-start;
}

.flex {
  display: flex;
  align-content: center;
  column-count: 2;
  width: 100%;
  margin-left: 55px;
}

.left {
  text-align: left;
  margin-left: 55px;
}

.right {
  text-align: right;
  margin-right: 55px;
}

.center {
  text-align: center;
}

.wide {
  grid-column: 1 / span 2;
  margin-left: 35px;
  margin-right: 55px;
}

.navigation img {
  width: 64;
  height: auto;
}

.item {
  padding: 15px;
  margin: 15px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.project {
  margin: 15px;
  position: relative;
  text-align: left;
}

.page-title h1, h2{
  text-align: left;
  padding: 0px;
  margin: 0px;
  padding-left: 35px;
  font-family: 'Bree Serif', serif;
}

h2 {
  margin-top: 15px;
  margin-left: 10px;
  background: url(assets/line.svg) no-repeat bottom left; 
  -webkit-background-size: 250px;
  -moz-background-size: 250px;
  -o-background-size: 250px;
  background-size: 250px;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-top: 0px;
  list-style-position: inside;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  padding: 0px 35px 35px 35px;
}

.project-title {
  font-family: 'Bree Serif', serif;
  position: absolute;
  top: 15%;
  left: 5%;
}

.project-category {
  font-family: 'Balsamiq Sans', cursive;
  font-size: .8em;
  position: absolute;
  top: 30%;
  left: 10%;
}

