@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@300&display=swap');

.background {
  background-color: darkslategrey;
  background: url(assets/bg.svg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0px;
  padding: 40px;
}

.App {
  text-align: left;
  background-color: white;
  border: 1px, black;
  border-bottom-left-radius: 35px;
  border-top-right-radius: 35px;
  font-family: 'Raleway', sans-serif;
  box-shadow: 4px 4px 5px black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navigation {
  position: relative;
  display: flex;
  text-align: right;
  border-top-right-radius: 35px;
}

.navigation-sub {
  width: 100%;
  text-justify: right;
  height: 100%;
  padding: 20px;
}

.App a:visited{
  color: black;
}

.App a:focus{
  color: gray;
}

.App a:hover {
  color: darkgray;
}

.App a{
  text-decoration: none;
  color: black;
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: flex-start;
}

.flex {
  display: flex;
  align-content: center;
  column-count: 2;
  margin-left: 55px;
  margin-right: 35px;
}

.left {
  text-align: left;
  margin-left: 55px;
}

.right {
  text-align: right;
  margin-right: 55px;
}

.center {
  text-align: center;
}

.wide {
  grid-column: 1 / span 2;
  margin-left: 35px;
  margin-right: 55px;
}

.navigation img {
  width: 64;
  height: auto;
}

.item {
  padding: 15px;
  margin: 15px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.page-title h1, h2, h3{
  text-align: left;
  padding: 0px;
  margin: 0px;
  padding-left: 35px;
  font-family: 'Playfair Display', serif;
  color: #013a3c;
  font-weight: 150;
}

h2 {
  margin-top: 15px;
  margin-left: 10px;
  padding-bottom: 6px;
  background: url(assets/line.svg) no-repeat bottom left; 
  -webkit-background-size: 250px;
  -moz-background-size: 250px;
  -o-background-size: 250px;
  background-size: 250px;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-top: 0px;
  list-style-position: inside;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  padding: 0px 35px 35px 35px;
}

.project {
  margin: 15px;
  position: relative;
  text-align: left;
  border: 1px black;
  border-bottom-left-radius: 35px;
  border-top-right-radius: 35px;
}

.project img {
  border: 1px black;
  border-bottom-left-radius: 35px;
  border-top-right-radius: 35px;
  box-shadow: 4px 4px 5px gray;
}

.project-title {
  font-family: 'Playfair Display', serif;
  color: #d3fbfd;
  position: absolute;
  top: 5%;
  left: 5%;
}

.project-category {
  color: #99f7fb;
  font-size: .8em;
  position: absolute;
  top: 15%;
  left: 10%;
}

.project-description {
  position: absolute;
  bottom: 5%;
  left: 10%;
  color: #31eff7;
}

.resume {
  font-size: .9em;
}

.resume h2, h3 {
  font-size: 1.3em;
}

.mini {
  display: grid;
  grid-template-columns: min-content;
}

.mini .project-title, .mini .project-category {
  position: relative;
  color: black;
}

.mini img {
  height: 128px;
  width: 128px;
  object-fit: cover;
}

.flex-project {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%
}

.project-grid {
  display: grid;
  grid-template-columns: 198px 100%;
}

.project-left {
  margin-right: 55px;
  width: 45%;
}

.emphasize {
  font-size: 1.1em;
  padding: 0 35px;
}

@media screen and (min-width: 400px) {

  .MergeGrid1 {
    display: grid;
    grid-template-columns: 60% 20%;
    width: 100%;
    text-align: center;
  }

  .Intro {
    margin: 35px;
    font-size: .9em;
  }

  .WhatBox {
    text-align: center;
    background-color: #057579;
    padding: 20px;
    border: 1px black;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;
    font-size: 1em; 
    box-shadow: 4px 4px 5px grey;
    height: fit-content;
    color: white;
  }

  .WhatBox h3 {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 1.2em;
    color: #99f7fb;
  }

  .WhatBox a, .WhatBox a.visited {
    color: #31eff7;
  }

  .Skills {
    text-align: left;
  }

  .Skills ul {
    padding: 0px;
  }

  .MergeGrid2 {
    Display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 35px;
    margin-left: 35px;
    align-content: center;
  }

  .MergeGrid2 h3 {
    margin: 0px;
    padding: 0px;
  }
}